/* === === === GENERICI === === === */
body{
    background-color: dodgerblue;
    color: white;
    height: 100%;
    padding:3%;
}

.selfContainedText, .pageTitle{
    text-align: center;
    font-weight: bold;
}

.selfContainedText{
   border: 2px solid white;
   border-radius: 40px;
   font-size: 180%;
}

img{
   width: 100%;
   margin: auto;
}

.me{
  border-radius: 50%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: black;
}

.footergrid{
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

.element{
   border: 2px solid white;
   border-radius: 40px;
   margin: 1%;
   padding: 0.5%;
   max-width: 700px;
}

/* === === === */


/* === === === BOTTONI e MENU === === === */
#menu-visibility{
    display:none;
}

#menu{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    position:fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    text-align:center;
    background-color: rgba(0,0,0,0.8);
    font-size: 33px;
    z-index: 1;
}

.option{
    margin: 5%;
    position: relative;
}

.option p{
    position:absolute;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s ease-out;
}

.option p:hover{
    background-color: dodgerblue;
    border-radius: 40px;
}

@keyframes pulse {
  0%    {transform: scale(1);}
  50%   {transform: scale(1.1);}
  100%  {transform: scale(1);}
}

.option:hover{
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

/* === === === */


/* === === === HAMBURGER ICON === === ===*/
#hamburger-icon{
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: dodgerblue;
}

.icon{
    display: none;
    padding-left: 5%;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 30px;
    filter: invert(1);
    z-index: 2;
    transition: 0.5s ease-out;
}

.icon:hover{
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
/* === === === */


/* === === === SEZIONI SEMPLICI === === === */
#main{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}

#presentation{
  display: inline-block;
  position: fixed;
  top: 35%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 380%;
}
/* === === === */


/* === === === SEZIONE PROGETTI=== === === */
#projectList{
  display: none;
}

#projectList h1{
  text-align: center;
}

.list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.tag-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -15%;
}

.element{
    min-height: 250px;
    min-width: 150px;
    max-height: 350px;
    max-width: 250px;
    padding: 1%;
    margin: 2%;
}

.element a{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  weight: 90%;
  height: 100%;
}

.element a div{
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.element a div h3{
  text-align: center;
}

.element a div h5{
  text-align: center;
  margin-top: -5%;
}

.element a div img{
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -5%;
}

.element a div p{
  text-align: center;
  margin-top: -5%;
}

/* .projectlogo{
  width: 100px;
  height: 100px;
} */
/* === === ===*/


/* === === === SEZIONE I MIEI CONTATTI === === === */
#myContact{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.contactGrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-bottom: 3%;
}

.elementGrid{
  margin: 2%;
}

.elementGrid a img{
    width: 60px;
    background-color: white;
    border-radius: 50%;
  }

/* === === === */


/* === === === SEZIONE ESPERIENZE LAVORATIVE === === === */
#myWorkExperince{
  display: none;
  background-color: white;
  color: black;
  margin-top: 2%;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
    width:100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1%;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
    background-position: -0.5%; /*centramento dello sfondo*/
    overflow: hidden;
}

.slide-spacing{
    line-height: 1.5;
}

.badge {
  background-color: blue;
  color: white;
  padding: 5%;
  text-align: center;
  border-radius: 5px;
  margin: 2%;
  font-size: 10px;
}

.joblogo{
  width: 50px;
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 33% 33% 33%;
  grid-column-gap: 0.33%;
  grid-row-gap: 0;
  justify-content: space-evenly;
  margin-top: -10%;
}


/* === === === */


/* === === === RESPONSIVE === === === */

@media screen and (min-width: 480px){
  .grid-container {
    margin-top: -5%;
  }
}

@media screen and (min-width: 1280px) and (min-height: 720px) and (max-height: 1281px) and (max-height: 721px){
  .grid-container {
    grid-template-columns: 15% 15% 15% 15% 15% 15% 10%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 10%;
    margin-top:0;
  }
}

@media screen and (min-width: 768px){

    /*Aggiustamento grandezza della home*/
     #main{
          width: 60%;
    }

    /* Dimensione massima che un'immagine nella sezione progetti può assumere */
    .element{
        max-width: 250px;
    }

    /*Aggiustamento grandezza della sezione Diario*/
    #myWorkExperince{
        height: 70vh;
    }

    .joblogo{
      width: 80px;
      height: 80px;
    }

    /* Ricostruzione della griglia nella sezione I miei contatti in modo da occupare una superficie maggiore */
    .contactGrid{
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1;
    }

    .tag-list .badge{
      font-size: small;
    }

    .badge {
      font-size: medium;
    }

    .grid-container {
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 25% 25% 25% 25%;
      margin-top:0;
    }
}

@media screen and (min-width: 1000px){

    /* Larghezza massima della home */
    #main{
          width: 45%;
    }

    /**/
    .option p{
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .joblogo{
      width: 100px;
      height: 100px;
    }

    .grid-container {
      grid-template-columns: 15% 12% 12% 12% 12% 12% 12% 12%;
      grid-template-rows: 50% 50%;
      row-gap: 1%;
      margin-top:-1%;
    }
}
/* === === === */
